[Unit]
Description=OracleInstanceHunter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/OracleInstanceHunter
ExecStart=/home/ubuntu/OracleInstanceHunter/venv/bin/python main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
